@charset "utf-8";
/*---------------------------------------------------------------------*/
/*Esse é o arquivo de estilo central do projeto, utilize e mantenha o indice atualizado*/
/*-------------------------------------------------------------*/
/*===========================
=> RESET CSS
=> ESTILOS GLOBAIS
=> FOOTER
=> BANNER PRINCIPAL
=> BOTÕES
=> CRIAR BLOCO COM FUNDO BRANCO ENTRE SESSÕES
=> MENU LATERAL (ACIONADO PELO HAMBURGER)
=> ESTILOS DO MAPA DE LOCALIZAÇÃO
=> INSCRIÇÃO   
=> PALESTRANTES E TALKS
=> PROGRAMAÇÃO DA CONFERENCIA
===========================*/

/*====================
	=> RESET CSS
==========================*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*====================
	=> ESTILO GLOBAIS
==========================*/
html,
body {
    width: 100%;
    height: 100%;
}
body {
    font-family: "Rockwell","Helvetica Neue",Helvetica,Arial,sans-serif;
}

hr.small {
    max-width: 100px;
}
/*====================
	=> FOOTER
==========================*/
footer {
    padding: 0 0;
}
footer hr{
   border-top: 1px dashed #8c8b8b; 
}
footer hr:after{
  content: '\002702'; 
  display: inline-block; 
  position: relative; 
  top: -12px; 
  left: 40px; 
  padding: 0 3px; 
  background: #f0f0f0; 
  color: #8c8b8b; 
  font-size: 18px; 
}
#to-top {
  display: none;
  position: fixed;
  bottom: 5px;
  right: 5px;
}
/*========================
	=> BANNER PRINCIPAL
==========================*/
.banner-principal {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    background: url(../img/bahia-central-banner-bg.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.banner-principal-img{
    margin-top: 15%;
}
/*====================
	=> BOTÕES
==========================*/
.btn-dark {
    border-radius: 0;
    color: #fff;
    background-color: #B22222;
}
.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
    color: #fff;
    background-color: #8B0000;
}
.btn-light {
    border-radius: 0;
    color: #333;
    background-color: rgb(255,255,255);
}
.btn-light:hover,
.btn-light:focus,
.btn-light:active {
    color: #333;
    background-color: rgba(255,255,255,0.8);
}
/*=============================
	=> CRIAR BLOCO COM FUNDO BRANCO ENTRE SESSÕES
===============================*/
.criar-bloco-entre-sessoes {
    padding: 3% 0;
}
/*===============================================
	=> MENU LATERAL (ACIONADO PELO HAMBURGER)
================================================*/ 
#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    right: 0;
    width: 250px;
    height: 100%;
    transform: translateX(250px);
    overflow-y: auto;
    background: #222;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}
.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}
.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}
.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999;
}
.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}
.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}
.sidebar-nav > .sidebar-brand {
    height: 55px;
    font-size: 18px;
    line-height: 55px;
}
.sidebar-nav > .sidebar-brand a {
    color: #999;
}
.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}
#menu-toggle {
    z-index: 1;
    position: fixed;
    top: 0;
    right: 0;
}
#sidebar-wrapper.active {
    right: 250px;
    width: 250px;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}
.toggle {
    margin: 5px 5px 0 0;
} 
/*===============================================
	=> ESTILOS DO MAPA DE LOCALIZAÇÃO 
================================================*/ 
.mapa {
    height: 500px;
}
@media(max-width:768px) {
    .mapa {
        height: 75%;
    }
}
.mapa iframe {
    pointer-events: none;
}
/*====================
	=> INSCRIÇÃO
==========================*/
.quadro-ingressos .item {
	padding: 20px 0 40px;
	border: 1px solid #b7b7b7;
	text-align: center;
}
.quadro-ingressos .item h3 {
	margin-top: 0;
	padding: 12px 10px 10px;
	font-weight: bold;
	background: #f1f1f1;
	text-transform: uppercase;
	color: #636363;
	font-size: 20px;
}
.quadro-ingressos .item p.preco {
	font-size: 40px;
	font-weight: bold;
	line-height: 60px;
	border-bottom: 1px solid #e3e3e3;
	color: #8ab928;
}
.quadro-ingressos .item p.preco span {
	font-size: 25px;
	font-weight: normal;
}
.quadro-ingressos .item p.preco small {
	font-size: 22px;
	font-weight: normal;
}
.quadro-ingressos .btn-dark {
    margin-top: 5%;
}
/*====================
	=> PALESTRANTES E TALKS
==========================*/
#palestrantes {
	padding-bottom: 3%;
}
#palestrantes .palestrante {
	margin-bottom: 3%;
	background: #fff;
	box-shadow: 0 0 5px 0px #bbb;
}
#palestrantes .palestrante .info {
	padding: 5px 20px 10px;
}
#palestrantes .palestrante .info p.nome {
	color: #222;
	margin-bottom: 0;
	font-size: 18px;
	font-weight: 600;
}
#palestrantes .palestrante .info p.empresa {
	font-size: 12px;
	font-style: italic;
	color: #222;
}
#palestrantes .redes-sociais {
    margin-top: 4%;
	margin-bottom: 10px;
}
#palestrantes .redes-sociais a {
	display: inline-block;
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	border: 1px solid;
}
#palestrantes .redes-sociais a:hover {
	background-color: #8B0000;
	color: #fff;
}
/*====================
	=> PROGRAMAÇÃO DA CONFERENCIA
==========================*/